ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
    background: transparent none !important;
}

.container-center {
    text-align: center;
}

.container-button { 
    padding-top: 50px;
}

.center-div {
    margin: auto;
    width: auto;
    height: 100px;  
}

.title-deparment {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    align-content: center;
    padding-bottom: 20px;
    display: block;
}

.container-title-company {
    padding-top: 30px;
    color: gray;
}