.container-center {
    text-align: center;
}

.container-qrcode {
    padding-top: 50px;
}

.center-div {
    margin: auto;
    width: auto;
    height: 100px;  
}

.container-logo {
    padding-bottom: 50px;
}

.btn-close-qr {
    display: block;
    padding-top: 30px;
}

.box-qr > img {
    height: 200px;
    width: 200px;
}

.title-company {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}